@use '~@pharos/core/lib/utils/scss/mixins';
@use '../shared/styles/grid';
@use "sass:map";

$small: map.get(grid.$breakpoints, sm, width);
$medium: map.get(grid.$breakpoints, md, width);
$large: map.get(grid.$breakpoints, lg, width);
$xlarge: map.get(grid.$breakpoints, xlg, width);
$max: map.get(grid.$breakpoints, max, width);

$columns-small: map.get(grid.$breakpoints, sm, columns);
$columns-medium: map.get(grid.$breakpoints, md, columns);
$columns-large: map.get(grid.$breakpoints, lg, columns);

$margin-xlarge: map.get(grid.$breakpoints, xlg, margin);
$margin-max: map.get(grid.$breakpoints, max, margin);

@function calculate-rem($size) {
  @return $size / 16px * 1rem;
}

@function content-width($width, $margin) {
  @return calculate-rem($width) - 2 * $margin;
}

@mixin grid-columns-fluid($min-breakpoint, $max-breakpoint) {
  $min-margin: map.get(grid.$breakpoints, $min-breakpoint, margin);
  $max-margin: map.get(grid.$breakpoints, $max-breakpoint, margin);
  $min-width: map.get(grid.$breakpoints, $min-breakpoint, width);
  $max-width: map.get(grid.$breakpoints, $max-breakpoint, width);
  $min-content: content-width($min-width, $min-margin);
  $max-content: content-width($max-width, $max-margin);

  grid-template-columns: minmax($min-margin, $max-margin) minmax($min-content, $max-content) minmax(
      $min-margin,
      $max-margin
    );
}

.home-page__container {
  display: grid;
  grid-template-areas:
    'header'
    'main'
    'footer';

  .header-revised__container {
    grid-area: header;
  }

  main {
    grid-area: main;
  }

  pharos-footer {
    grid-area: footer;
  }
}

.home-page__container--main-content {
  display: grid;
  grid-template-areas:
    '. top .'
    'hero hero hero'
    '. content .';
  grid-template-columns: $margin-xlarge 1fr $margin-xlarge;
  margin-bottom: 10rem;
}

.home-page__hero {
  grid-area: hero;
  height: 381px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  margin-top: 4.75rem;
  margin-bottom: var(--pharos-spacing-three-quarters-x);
}

.home-page__heading {
  margin-top: 3.75rem;
}

.home-page__container--top {
  grid-area: top;
}

.home-page__container--body {
  grid-area: content;
  display: grid;
  grid-template-columns: repeat($columns-large, 1fr);
  column-gap: grid.$gutter;
  row-gap: var(--pharos-spacing-7-x);
  max-width: 79.5rem;
}

.home-page__hero-link {
  grid-column: span 12;
}

.home-page__collection-card--open {
  grid-column: span 6;
}

.home-page__collection-card--community {
  grid-column: span 3;
}

.home-page__container--access {
  grid-column: span 12;
  border-bottom: 1px solid var(--pharos-color-ui-30);
  border-top: 1px solid var(--pharos-color-ui-30);
  padding: var(--pharos-spacing-3-x) 0;
  display: grid;
  grid-template-columns: 1fr 12rem;
  column-gap: 12rem;
}

.home-page__list--access {
  @include mixins.no-bullet;

  padding-left: 0;
  margin: 0;

  li:not(:last-child) {
    margin-bottom: var(--pharos-spacing-1-x);
  }
}

.home-page__image--collection {
  margin-bottom: var(--pharos-spacing-1-x);
}

.home-page__input {
  padding: var(--pharos-spacing-1-x) var(--pharos-spacing-1-x) var(--pharos-spacing-1-x) 4rem;
  border: 1px solid var(--pharos-color-ui-50);
  box-sizing: border-box;
  border-radius: var(--pharos-radius-base-standard);
  font-size: var(--pharos-font-size-large);
  width: 50rem;
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.32);

  &:focus {
    @include mixins.input-focus;

    padding: calc(var(--pharos-spacing-1-x) - 1px) calc(var(--pharos-spacing-1-x) - 1px)
      calc(var(--pharos-spacing-1-x) - 1px) calc(4rem - 1px);
  }
}

.home-page__container--input {
  position: absolute;
  top: 19.6rem;
  display: flex;
  align-items: center;
  width: 50rem;
  z-index: 1;
}

.home-page__icon--search {
  position: absolute;
  left: var(--pharos-spacing-one-and-a-half-x);
  top: 50%;
  transform: translateY(-50%);
}

@media screen and (min-width: $small) and (max-width: $medium - 1px) {
  .home-page__container--main-content {
    @include grid-columns-fluid(sm, md);
  }

  .home-page__collection-card--open {
    grid-column: span 6;
  }

  .home-page__collection-card--community {
    grid-column: span 6;
  }

  .home-page__container--input {
    display: none;
  }
}

@media screen and (min-width: $medium) and (max-width: $large - 1px) {
  .home-page__container--main-content {
    @include grid-columns-fluid(md, lg);
  }

  .home-page__collection-card--open {
    grid-column: span 6;
  }

  .home-page__collection-card--community {
    grid-column: span 3;
  }

  .home-page__input,
  .home-page__container--input {
    width: 42rem;
  }

  .home-page__container--input {
    top: 18rem;
  }
}

@media screen and (max-width: $medium) {
  .home-page__container--body {
    grid-template-columns: repeat($columns-medium, 1fr);
  }

  .home-page__hero-link {
    grid-column: span 8;
  }

  .home-page__collection-card--open {
    grid-column: span 8;
  }

  .home-page__collection-card--community {
    grid-column: span 4;
  }

  .home-page__container--access {
    grid-column: span 8;
    column-gap: var(--pharos-spacing-3-x);
  }

  .home-page__hero {
    background-position: right;
  }
}

@media only screen and (max-width: $small) {
  .home-page__container--body {
    grid-template-columns: repeat($columns-small, 1fr);
    row-gap: var(--pharos-spacing-three-and-a-half-x);
  }

  .home-page__hero-link {
    grid-column: span 4;
  }

  .home-page__collection-card--open {
    grid-column: span 4;
  }

  .home-page__collection-card--community {
    grid-column: span 4;
  }

  .home-page__container--access {
    grid-column: span 4;
    grid-template-columns: auto;
    grid-template-rows: 1fr 7rem;
    row-gap: var(--pharos-spacing-2-x);
  }

  .home-page__hero {
    background-position: 85% center;
    margin-top: 2.625rem;
  }

  .home-page__heading {
    margin-top: var(--pharos-spacing-3-x);
  }
}

@media screen and (min-width: $large) and (max-width: $xlarge - 1px) {
  .home-page__container--main-content {
    @include grid-columns-fluid(lg, xlg);
  }
}

@media screen and (min-width: $xlarge) and (max-width: $max) {
  .home-page__container--main-content {
    @include grid-columns-fluid(xlg, max);
  }
}

@media screen and (min-width: $max) {
  .home-page__container--main-content {
    grid-template-columns: $margin-max minmax(content-width($max, $margin-max), 1fr) $margin-max;
  }

  .home-page__container--body {
    margin: auto;
  }
}
