@use '~@ithaka/pharos/lib/styles/pharos';

.pharos-storybook__image {
  margin-top: var(--pharos-spacing-three-quarters-x);
  margin-bottom: var(--pharos-spacing-three-quarters-x);
  max-width: 100%;
}

kbd {
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
  color: #333;
  background-color: #fcfcfc;
  border: 0.1rem solid #e8e8e8;
  border-bottom-color: #9c9c9c;
  box-shadow: 0 1px 0 #9c9c9c, 0 0 0 2px #fcfcfc inset;
}

.tooltip-example__target {
  border-radius: 50%;
  border: none;
  fill: var(--pharos-color-night-blue-base);
  padding: 0;
  cursor: pointer;
  background: none;
}

.tooltip-example__container {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-gap: 5rem;
  margin-top: 5rem;
  margin-bottom: 5rem;
  justify-content: space-evenly;
}

.alert-example__content {
  margin: 0;
}

p.alert-example__content + p.alert-example__content {
  margin-top: 1rem;
}

.alert-example__content > li {
  margin-top: 0;
}

.checkbox-example__container--dark {
  padding: 1rem;
  background-color: var(--pharos-color-black);
}

.token-table-container {
  width: 80%;
  margin: auto;

  h2 {
    font-weight: normal;
  }
}

.token-table {
  width: 100%;

  code {
    background: var(--pharos-color-ui-20);
    border-radius: 1px;
    padding: var(--pharos-spacing-one-quarter-x) var(--pharos-spacing-one-half-x);
    white-space: nowrap;
  }

  pharos-icon {
    fill: var(--pharos-color-black);
    stroke: var(--pharos-color-black);
  }

  th {
    padding: 0;
    padding-bottom: var(--pharos-spacing-one-half-x);
    border-bottom: 1px solid var(--pharos-color-ui-30);
    margin-bottom: var(--pharos-spacing-one-half-x);
  }

  td {
    vertical-align: top;
    padding-top: var(--pharos-spacing-one-and-a-half-x);
    padding-right: var(--pharos-spacing-2-x);
    border-bottom: 1px solid var(--pharos-color-ui-30);
    padding-bottom: var(--pharos-spacing-one-and-a-half-x);
  }

  tr:last-child td {
    border-bottom: 1px solid transparent;
  }

  .color-example {
    width: 10rem;
    height: 3rem;
    border: 1px solid #eee;
  }

  .line-height-example {
    max-height: 110px;
    overflow: hidden;
  }

  .radius-example {
    background: var(--pharos-color-living-coral-80);
    width: 2rem;
    height: 2rem;
    display: inline-block;
  }

  .token-type-sans-serif {
    line-height: normal;
    font-family: var(--pharos-font-family-sans-serif);
    white-space: nowrap;
  }

  .token-type-serif {
    line-height: normal;
    font-family: var(--pharos-font-family-serif);
    white-space: nowrap;
  }

  .spacing-example {
    background: var(--pharos-color-living-coral-80);
    width: 100%;
    display: inline-block;
  }

  .transition-example {
    height: 3rem;
    display: inline-block;

    :hover {
      background: var(--pharos-color-jstor-red);
    }
  }
}

.typography-table-example {
  border: 1px solid var(--pharos-color-ui-40);
  padding: var(--pharos-spacing-one-quarter-x) var(--pharos-spacing-one-half-x);
}

.icon-example__icon {
  stroke: var(--pharos-color-black);
  stroke-width: 0;
}

.icon-example__container {
  display: flex;
  align-items: center;
  padding: var(--pharos-spacing-one-quarter-x);
}

.icon-example__name {
  margin-left: var(--pharos-spacing-three-quarters-x);
}

.list-example__no-bullets {
  @include pharos.no-bullet;
}

.list-example__nested {
  @include pharos.list-nested;
}

.list-example__inline {
  @include pharos.list-inline;
}

[tabindex='0'] {
  @include pharos.interactive-focus;
}

@media only screen and (max-width: 570px) {
  .hide-for-small {
    display: none !important; /* stylelint-disable-line declaration-no-important */
  }

  .show-for-small {
    display: inherit !important; /* stylelint-disable-line declaration-no-important */
  }
}

@media (max-width: 1024px) {
  .hide-for-large {
    display: none !important; /* stylelint-disable-line declaration-no-important */
  }

  .show-for-large {
    display: inherit !important; /* stylelint-disable-line declaration-no-important */
  }

  .header-example__split-column {
    display: grid;
    grid-template-columns: 3fr 1fr;
    column-gap: 0.5rem;
  }
}

@media (max-width: 570px) {
  .header-example__split-column {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 1024px) {
  .header-example__input-group {
    max-width: 80%;
  }
}

.layout-example__item {
  background: var(--pharos-color-living-coral-80);
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.layout-example__column {
  display: flex;
  justify-content: center;
  grid-column: span 1;
  height: 100vh;
  background-color: rgba(244, 215, 215, 0.6);
  padding-top: var(--pharos-spacing-1-x);
}

.layout-example__container--first {
  grid-column: span 8;
  grid-row: 1;
  background: var(--pharos-color-glacier-blue-70);
  height: 20rem;
}

.layout-example__container--second {
  grid-column: span 8;
  grid-row: 2;
  background: var(--pharos-color-glacier-blue-70);
  height: 14.5rem;
}

.layout-example__container--third {
  grid-column: span 4;
  grid-row: span 2;
  background: var(--pharos-color-glacier-blue-70);
  height: 38rem;
}

@include pharos.until(small) {
  .layout-example__container--first,
  .layout-example__container--second {
    grid-column: span 4;
  }
}
