.container {
  height: var(--pharos-spacing-7-x);
  width: var(--pharos-spacing-7-x);
  display: grid;
  margin-bottom: var(--pharos-spacing-1-x);
  padding: var(--pharos-spacing-one-half-x);
}

.container_text {
  place-self: center;
  text-align: center;
  font-family: var(--pharos-font-family-body);
  font-size: var(--pharos-spacing-one-and-a-half-x);
}
