@use '../../styles/variables';

$breakpoints: (
  'small': (
    columns: 4,
    width: variables.$pharos-breakpoint-small,
  ),
  'medium': (
    columns: 8,
    width: variables.$pharos-breakpoint-medium,
  ),
  'large': (
    columns: 12,
    width: variables.$pharos-breakpoint-large,
  ),
  'xlarge': (
    columns: 12,
    width: variables.$pharos-breakpoint-xlarge,
  ),
  'max': (
    columns: 12,
    width: variables.$pharos-breakpoint-max,
  ),
) !default;

$layouts: (
  '1-col': (
    'small': 1.25rem,
    'medium': 1.5rem,
    'large': 4.5rem,
    'xlarge': 8rem,
    'max': 9rem,
  ),
  '1-col--sidenav': (
    'small': 1.5rem,
    'medium': 3rem,
    'large': 3rem,
    'xlarge': 3rem,
    'max': 3rem,
  ),
  '1-col--sidenav-comfy': (
    'small': 1.25rem,
    'medium': 1.5rem,
    'large': 3.75rem,
    'xlarge': 5.25rem,
    'max': 7.75rem,
  ),
  '2-col': (
    'small': 1.5rem,
    'medium': 3rem,
    'large': 3rem,
    'xlarge': 3rem,
    'max': 3rem,
  ),
) !default;
