@use '@ithaka/pharos/lib/styles/pharos';

.home-page__container {
  display: grid;
  grid-template-areas:
    'header'
    'main'
    'footer';

  .header-revised__container {
    grid-area: header;
  }

  main {
    grid-area: main;
  }

  pharos-footer {
    grid-area: footer;
  }
}

.home-page__container--main-content {
  display: grid;
  grid-template-areas:
    '. top .'
    'hero hero hero'
    '. content .';
  margin-bottom: 10rem;
}

.home-page__hero {
  grid-area: hero;
  height: 381px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  margin-top: 4.75rem;
  margin-bottom: var(--pharos-spacing-three-quarters-x);
}

.home-page__heading {
  margin-top: 3.75rem;
}

.home-page__container--top {
  grid-area: top;
}

.home-page__hero-link {
  grid-column: span 12;
}

.home-page__collection-card--open {
  grid-column: span 6;
}

.home-page__collection-card--community {
  grid-column: span 3;
}

.home-page__container--access {
  grid-column: span 12;
  border-bottom: 1px solid var(--pharos-color-ui-30);
  border-top: 1px solid var(--pharos-color-ui-30);
  padding: var(--pharos-spacing-3-x) 0;
  display: grid;
  grid-template-columns: 1fr 12rem;
  column-gap: 12rem;
}

.home-page__list--access {
  @include pharos.no-bullet;

  padding-left: 0;
  margin: 0;

  li:not(:last-child) {
    margin-bottom: var(--pharos-spacing-1-x);
  }
}

.home-page__image--collection {
  margin-bottom: var(--pharos-spacing-1-x);
}

.home-page__input {
  padding: var(--pharos-spacing-1-x) var(--pharos-spacing-1-x) var(--pharos-spacing-1-x) 4rem;
  border: 1px solid var(--pharos-color-ui-50);
  box-sizing: border-box;
  border-radius: var(--pharos-radius-base-standard);
  font-size: var(--pharos-font-size-large);
  width: 50rem;
  box-shadow: 0 4px 6px 0 rgb(0 0 0 / 0.32);

  &:focus {
    @include pharos.input-focus;

    padding: calc(var(--pharos-spacing-1-x) - 1px) calc(var(--pharos-spacing-1-x) - 1px)
      calc(var(--pharos-spacing-1-x) - 1px) calc(4rem - 1px);
  }
}

.home-page__container--input {
  position: absolute;
  top: 10rem;
  display: flex;
  align-items: center;
  width: 50rem;
  z-index: 1;
}

.home-page__icon--search {
  position: absolute;
  left: var(--pharos-spacing-one-and-a-half-x);
  top: 50%;
  transform: translateY(-50%);
}

@include pharos.between(small, medium) {
  .home-page__collection-card--open {
    grid-column: span 6;
  }

  .home-page__collection-card--community {
    grid-column: span 6;
  }

  .home-page__container--input {
    display: none;
  }
}

@include pharos.between(medium, large) {
  .home-page__collection-card--open {
    grid-column: span 6;
  }

  .home-page__collection-card--community {
    grid-column: span 3;
  }

  .home-page__input,
  .home-page__container--input {
    width: 42rem;
  }
}

@include pharos.until(medium) {
  .home-page__hero-link {
    grid-column: span 8;
  }

  .home-page__collection-card--open {
    grid-column: span 8;
  }

  .home-page__collection-card--community {
    grid-column: span 4;
  }

  .home-page__container--access {
    grid-column: span 8;
    column-gap: var(--pharos-spacing-3-x);
  }

  .home-page__hero {
    background-position: right;
  }
}

@include pharos.until(small) {
  .home-page__hero-link {
    grid-column: span 4;
  }

  .home-page__collection-card--open {
    grid-column: span 4;
  }

  .home-page__collection-card--community {
    grid-column: span 4;
  }

  .home-page__container--access {
    grid-column: span 4;
    grid-template-columns: auto;
    grid-template-rows: 1fr 7rem;
    row-gap: var(--pharos-spacing-2-x);
  }

  .home-page__hero {
    background-position: 85% center;
    margin-top: 2.625rem;
  }

  .home-page__heading {
    margin-top: var(--pharos-spacing-3-x);
  }
}
