@use '@ithaka/pharos/lib/styles/pharos';

.reports-page__container {
  display: grid;
  grid-template-areas: 'sidenav main';
  grid-template-columns: max-content 1fr;

  main {
    grid-area: main;
  }

  .reports-page__sidenav {
    grid-area: sidenav;
  }
}

.reports-page__container--main-content {
  display: grid;
  grid-template-areas:
    '. top .'
    '. content .';
  margin-bottom: 9.5rem;
}

.reports-page__container--top {
  grid-area: top;
  display: flex;
  align-items: center;
  margin-top: var(--pharos-spacing-2-x);
}

.reports-page__container--disclaimer {
  margin-top: var(--pharos-spacing-three-and-a-half-x);
  grid-column: span 8;
}

.reports-page__container--table {
  grid-column: span 12;
  position: relative;
}

.reports-page__button--create {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
}

.reports-page__table {
  border-collapse: collapse;
  width: 100%;
  table-layout: fixed;
}

.reports-page__table-header {
  padding: var(--pharos-spacing-three-quarters-x) 0 var(--pharos-spacing-three-quarters-x) 0;
  text-align: left;
}

.reports-page__table-row {
  border-top: 1px solid var(--pharos-color-marble-gray-base);

  &:hover {
    background-color: var(--pharos-color-hover-row);
  }

  &:last-child {
    border-bottom: 1px solid var(--pharos-color-marble-gray-base);
  }
}

.reports-page__table-cell {
  padding: var(--pharos-spacing-three-quarters-x) var(--pharos-spacing-three-quarters-x)
    var(--pharos-spacing-three-quarters-x) 0;
  white-space: nowrap;
  vertical-align: top;

  p {
    margin: 0;
  }
}

.reports-page__table-cell--download {
  text-align: end;
}

.reports-page__form--create-modal {
  > *:not(:last-child) {
    margin-bottom: var(--pharos-spacing-1-x);
  }
}

.reports-page__fieldset--type {
  border: none;
  padding: 0;
  margin-left: 0;
}

.reports-page__fieldset--date {
  border: 1px solid var(--pharos-color-ui-40);
}

.reports-page__legend {
  @include pharos.form-element-label;
}

.reports-page__grid--date-group {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: var(--pharos-spacing-2-x);
  padding: var(--pharos-spacing-1-x);
}

.reports-page__container--nav-header {
  display: none;
  grid-template-columns: repeat(4, max-content);
  column-gap: var(--pharos-spacing-one-half-x);
  align-items: center;

  img {
    margin-left: var(--pharos-spacing-one-half-x);
  }
}

.reports-page__separator {
  font-size: var(--pharos-font-size-large);
  color: var(--pharos-color-marble-gray-80);
}

.reports-page__button--user {
  margin-left: auto;
}

@include pharos.between(small, medium) {
  .reports-page__button--create {
    top: -58px;
    right: initial;
  }

  .reports-page__table {
    border-collapse: unset;
    table-layout: auto;

    thead {
      display: none;
    }

    td {
      display: block;
      text-align: left;
    }
  }

  .reports-page__button--user {
    display: none;
  }
}

@include pharos.between(small, large) {
  .reports-page__container {
    grid-template-areas: 'main';
    grid-template-columns: 1fr;
  }

  .reports-page__container--nav-header {
    display: grid;
  }
}

@include pharos.until(large) {
  .reports-page__container--disclaimer {
    grid-column: span 10;
  }
}

@include pharos.until(medium) {
  .reports-page__container--disclaimer {
    grid-column: span 8;
  }

  .reports-page__container--table {
    grid-column: span 8;
  }
}

@include pharos.until(small) {
  .reports-page__container--disclaimer {
    grid-column: span 4;
  }

  .reports-page__container--table {
    grid-column: span 4;
  }
}
