.footer__container {
  grid-area: footer;
}

.footer {
  background: var(--pharos-color-marble-gray-10);
  color: var(--pharos-color-text-white);
  padding: var(--pharos-spacing-3-x) 0;
}

.right-text {
  margin-bottom: var(--pharos-spacing-one-half-x);
}

.note {
  color: var(--pharos-color-marble-gray-80);
  font-size: var(--pharos-font-size-small);
  line-height: var(--pharos-line-height-small);
}

.list {
  list-style-type: none;
}

.list > li:not(:last-child) {
  margin-bottom: var(--pharos-spacing-one-half-x);
}

.container__start {
  grid-column: span 3;
  display: grid;
}

.container__center {
  grid-column: span 3;
  display: grid;
}

.container__end {
  grid-column: span 3;
  display: grid;
  grid-template-rows: max-content 1fr;
}

.netlify-link {
  grid-column: 10 / span 3;
}

.copyright-statement {
  grid-column: span 6;
}

.badge {
  color: var(--pharos-color-text-white);
  text-transform: uppercase;
  font-size: var(--pharos-font-size-micro);
  line-height: var(--pharos-line-height-xsmall);
  background-color: var(--pharos-color-marble-gray-20);
  padding: var(--pharos-spacing-one-quarter-x) var(--pharos-spacing-one-half-x);
}

.container__link {
  display: flex;
  align-items: center;
  column-gap: var(--pharos-spacing-three-quarters-x);
}

.logo__link {
  display: flex;
}

@media screen and (width <= 48rem) {
  .container__start,
  .container__center,
  .container__end,
  .netlify-link {
    grid-column: span 4;
  }

  .copyright-statement {
    grid-column: span 8;
  }
}

@media screen and (width <= 22.5rem) {
  .container__start,
  .container__center,
  .container__end,
  .netlify-link {
    grid-column: span 4;
  }

  .copyright-statement {
    grid-column: span 4;
  }
}
