@import 'variables.module.css';

* {
  box-sizing: border-box;
}

body,
ul,
ol {
  margin: 0;
  padding: 0;
}

a {
  color: var(--pharos-color-black);
}

.container {
  display: grid;
  grid:
    'sidenav main' 1fr
    'sidenav footer' auto
    / max-content 1fr;
  min-height: 100vh;
}

@media screen and (width <= 1055px) {
  .container {
    grid-template-areas:
      'main'
      'footer';
    grid-template-columns: auto;
  }
}

.main {
  grid-area: main;
}

.content {
  padding: var(--main-spacing-padding) 0;
  display: grid;
}

.content___fill {
  padding: 0;
  margin-bottom: var(--pharos-spacing-5-x);
  grid-template-areas:
    'hero hero hero'
    '. content .';
}

p,
ul {
  max-width: 100%;
  margin-bottom: var(--pharos-spacing-one-and-a-half-x);
}

.main li {
  margin-left: var(--pharos-spacing-one-and-a-half-x);
}

.main ul > li::marker {
  color: var(--pharos-color-living-coral-base);
}

.top-bar {
  display: flex;
  align-items: center;
  background-color: var(--pharos-color-black);
}

.page {
  grid-column: span 8;
}

@media screen and (width <= 22.5rem) {
  .page {
    grid-column: span 4;
  }
}
