**/node_modules/
**/dist/
**/coverage/
**/lib/
**/*.css.ts
**/*.d.ts

.storybook-static/
packages/pharos/src/styles/**/*.ts
packages/pharos-site/.cache/
packages/pharos-site/public/
packages/pharos-site/static/
