.idea/
.sass-cache/
*.css.map
node_modules/
dist/
**/.DS_Store
.storybook-static/
coverage/
lib/
packages/**/package-lock.json
packages/site/public/
packages/site/.cache/
react-components/
packages/core/src/styles/*.ts
packages/core/src/styles/_variables.scss
*.css.ts
package-lock.json
custom-elements.json
yarn-error.log
**/.envrc
