.idea/
.sass-cache/
*.css.map
node_modules/
dist/
**/.DS_Store
.storybook-static/
coverage/
lib/
# Preserve Astro site's src/lib/.
!packages/pharos-site-astro/src/lib/
packages/**/package-lock.json
packages/pharos-site-astro/.astro/
react-components/
packages/pharos/src/styles/**/*.ts
packages/pharos/src/styles/_variables.scss
*.css.ts
package-lock.json
custom-elements.json
yarn-error.log
**/.envrc
sass.json
.yarn/install-state.gz
