node_modules/
dist/
coverage/
lib/
.storybook-static/
packages/pharos/src/styles/**/*.ts
packages/pharos/tokens/
packages/pharos/custom-elements.json
packages/**/package-lock.json
packages/pharos-site/public/
packages/pharos-site/.cache/
package.json
package-lock.json
.changeset/
functional_tests/
packages/pharos/sass.json
