@use '../../utils/scss/mixins';

:host {
  contain: layout;
}

#link-element {
  @include mixins.link-base;
  @include mixins.link-hover;
  @include mixins.interactive-focus;

  @at-root &:active {
    @include mixins.underline($text-decoration-color: var(--pharos-color-hover-primary));
  }

  @at-root &.link--alert:hover {
    color: var(--pharos-color-interactive-secondary);
  }

  @at-root &.link--alert:active {
    @include mixins.underline;
  }
}

:host(:not([href])) #link-element {
  @include mixins.link-base;
  @include mixins.link-hover;
  @include mixins.interactive-focus;

  background-color: transparent;
  border: none;
  padding: 0;
  text-align: left;
  cursor: pointer;
}

:host([is-on-background]) #link-element {
  @include mixins.underline($text-decoration-color: var(--pharos-color-interactive-tertiary));

  color: var(--pharos-color-interactive-tertiary);

  @at-root &:hover {
    color: var(--pharos-color-interactive-tertiary);

    @include mixins.no-underline;
  }

  @at-root &:active {
    @include mixins.underline($text-decoration-color: var(--pharos-color-interactive-tertiary));
  }
}

:host([subtle]) #link-element {
  @include mixins.no-underline;

  @at-root &:hover {
    @include mixins.underline($text-decoration-color: var(--pharos-color-hover-primary));
  }

  @at-root &:active {
    @include mixins.no-underline;
  }

  @at-root &.link--hover {
    @include mixins.underline($text-decoration-color: var(--pharos-color-hover-primary));

    color: var(--pharos-color-hover-primary);
  }
}

:host([bold]) #link-element {
  font-weight: var(--pharos-font-weight-bold);
}

:host([flex]) #link-element {
  display: inline-flex;
  min-width: 0;
}

:host([indicate-visited]) #link-element {
  @at-root &:visited {
    @include mixins.underline($text-decoration-color: var(--pharos-color-night-blue-base));

    color: var(--pharos-color-night-blue-base);

    @at-root &:hover {
      @include mixins.no-underline;

      color: var(--pharos-color-hover-primary);
      text-decoration-color: var(--pharos-color-hover-primary);
    }
  }
}

:host([subtle]:not([href])) #link-element {
  @include mixins.no-underline;
}

:host([skip]:not(:focus-within)) {
  @include mixins.hidden;
}

:host([is-on-background][subtle]) #link-element {
  @at-root &:hover {
    @include mixins.underline($text-decoration-color: var(--pharos-color-interactive-tertiary));
  }

  @at-root &:active {
    @include mixins.no-underline;
  }
}

:host([no-hover]) #link-element:hover {
  @include mixins.underline($text-decoration-color: var(--pharos-color-interactive-secondary));

  color: var(--pharos-color-interactive-secondary);
}

:host([no-hover][subtle]) #link-element:hover {
  @include mixins.no-underline;
}
