@use '../../utils/scss/mixins';

:host {
  contain: layout;
}

#link-element {
  @include mixins.link-base;
  @include mixins.link-hover;
  @include mixins.interactive-focus;

  &:active {
    @include mixins.underline($text-decoration-color: var(--pharos-color-hover-primary));
  }
}

#link-element.link--alert:hover {
  color: var(--pharos-color-interactive-secondary);
}

#link-element.link--alert:active {
  @include mixins.underline;
}

:host([on-background]) #link-element {
  @include mixins.underline($text-decoration-color: var(--pharos-color-interactive-tertiary));

  color: var(--pharos-color-interactive-tertiary);
}

:host([subtle]) #link-element {
  @include mixins.no-underline;
}

:host([bold]) #link-element {
  font-weight: var(--pharos-font-weight-bold);
}

:host([flex]) #link-element {
  display: inline-flex;
}

:host([on-background]) #link-element:hover {
  @include mixins.no-underline;
}

:host([on-background]) #link-element:active {
  @include mixins.underline($text-decoration-color: var(--pharos-color-interactive-tertiary));
}

:host([subtle]) #link-element:hover {
  @include mixins.underline($text-decoration-color: var(--pharos-color-hover-primary));
}

:host([subtle]) #link-element:active {
  @include mixins.no-underline;
}

:host([subtle]) #link-element.link--hover {
  @include mixins.underline($text-decoration-color: var(--pharos-color-hover-primary));

  color: var(--pharos-color-hover-primary);
}

:host([skip]) #link-element:not(:focus) {
  @include mixins.hidden;
}
:host([on-background][subtle]) #link-element:hover {
  @include mixins.underline($text-decoration-color: var(--pharos-color-interactive-tertiary));
}

:host([on-background][subtle]) #link-element:active {
  @include mixins.no-underline;
}
