:host {
  position: relative;
  z-index: 9000;
}

#nav-element {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  overflow: scroll;
  background-color: var(--pharos-color-black);
  color: var(--pharos-color-text-white);
  visibility: visible;
  transition: visibility 0s linear 0s, left var(--pharos-transition-duration-long) ease-in-out;
}

.side-element__container {
  /* autoprefixer: ignore next */
  grid-template-areas:
    '. content .'
    'section section section';
  grid-template-rows: auto auto 1fr;
}

.side-element__content {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  row-gap: var(--pharos-spacing-2-x);
}

.sidenav__sections {
  grid-area: section;
}

.side-element__button {
  visibility: hidden;
  opacity: 0%;
  position: absolute;
  top: var(--pharos-spacing-one-quarter-x);
  left: var(--pharos-spacing-one-quarter-x);
}

@media screen and (max-width: 1055px) {
  :host {
    width: initial;
  }

  #nav-element {
    left: -17rem;
    visibility: hidden;
    transition: visibility var(--pharos-transition-duration-long) linear
        var(--pharos-transition-duration-long),
      left var(--pharos-transition-duration-long) ease-in-out;
  }

  .side-element__button {
    visibility: visible;
    opacity: 100%;
    transition: visibility 0s var(--pharos-transition-duration-short),
      opacity var(--pharos-transition-duration-long) linear var(--pharos-transition-duration-short);
  }
}

:host([slide]) {
  #nav-element {
    left: 0;
    visibility: visible;
    transition: visibility 0s linear 0s, left var(--pharos-transition-duration-long) ease-in-out;
  }
}
