:host {
  display: inline-flex;
  contain: content;
  stroke-width: 0;
  stroke: var(--pharos-color-black);
}

.icon {
  display: block;
}

@media screen and (forced-colors: active) {
  .icon {
    fill: currentcolor;
    stroke: currentcolor;
  }
}
