@use '../../utils/scss/mixins';

:host {
  display: grid;
  contain: layout;
  grid-template-areas: '. content .';
  grid-template-columns: 1fr max-content 1fr;
}

.grid {
  @include mixins.grid-base;
}
