@use '../../utils/scss/mixins';

:host {
  display: block;
  position: fixed;
  z-index: 140;
  pointer-events: none;
  top: 0;
  left: 0;
}

.tooltip__body {
  visibility: hidden;
  pointer-events: none;
  position: relative;
  opacity: 0;
  white-space: nowrap;
  transform: translate3d(0, 0, 0);
  transition:
    visibility 0s var(--pharos-transition-duration-short),
    opacity var(--pharos-transition-duration-short) linear;
}

:host([open]) .tooltip__body {
  visibility: visible;
  opacity: 1;
  transition-delay: 0ms;
  pointer-events: auto;
}

.tooltip__bubble {
  @include mixins.font-base(
    $font-size: var(--pharos-tooltip-size-text-base),
    $line-height: var(--pharos-line-height-small)
  );

  display: block;
  background-color: var(--pharos-tooltip-color-background-base);
  color: var(--pharos-tooltip-color-text-base);
  text-align: center;
  padding: var(--pharos-spacing-one-quarter-x) var(--pharos-spacing-one-half-x);
  overflow: hidden;
  border-radius: var(--pharos-radius-base-standard);
  transition: transform var(--pharos-transition-base) 0s;
  transform: scale3d(1, 1, 1) translate3d(0, 0, 0);
}

.tooltip__bubble--text-wrap {
  padding: var(--pharos-spacing-one-half-x) var(--pharos-spacing-1-x);
  width: 14rem;
  white-space: normal;
  text-align: start;
  overflow-wrap: break-word;
}

.tooltip__caret {
  position: absolute;
  height: 8px;
  width: 8px;
  transform: rotate(45deg);
  background-color: var(--pharos-tooltip-color-background-base);
}
