.table {
  border-collapse: collapse;
  margin-top: var(--pharos-spacing-3-x);
}

.table__row {
  border-top: 1px solid var(--pharos-color-marble-gray-base);
}

.table__cell {
  padding: var(--pharos-spacing-one-and-a-half-x) 10rem var(--pharos-spacing-one-and-a-half-x) 0;
  white-space: nowrap;
  vertical-align: top;
  max-width: 11rem;
}

.table__header {
  padding: var(--pharos-spacing-three-quarters-x) 0 var(--pharos-spacing-three-quarters-x) 0;
  text-align: left;
  position: sticky;
  top: 0;
  background: var(--pharos-color-white);
}

.status__description {
  color: var(--pharos-color-text-40);
  margin-top: var(--pharos-spacing-one-half-x);
  display: inline-flex;
  font-size: var(--pharos-font-size-small);
  line-height: var(--pharos-line-height-small);
}
