:host {
  display: block;
  position: absolute;
  z-index: 1000;
  inset: 0;
}

.loading-spinner__wrapper {
  width: 100%;
  height: 100%;
  background-color: rgb(255 255 255 / 0.8);
  display: flex;
  align-items: center;
}

.loading-spinner__icon {
  margin: 0 auto;
  opacity: 1;
}

.loading-spinner__animation {
  stroke-linecap: square;
}
