$breakpoints: (
  sm: (
    columns: 4,
    margin: 1.5rem,
    width: 320px,
  ),
  md: (
    columns: 8,
    margin: 1.5rem,
    width: 768px,
  ),
  lg: (
    columns: 12,
    margin: 4.5rem,
    width: 1056px,
  ),
  xlg: (
    columns: 12,
    margin: 8rem,
    width: 1360px,
  ),
  max: (
    columns: 12,
    margin: 9rem,
    width: 1584px,
  ),
) !default;

$gutter: var(--pharos-spacing-3-x);
