@use '../../utils/scss/mixins';

@mixin selected-text {
  color: var(--pharos-dropdown-multiselect-color-text-selected);
  font-weight: var(--pharos-font-weight-bold);
}

:host {
  display: block;
  width: 100%;
}

.multiselect-dropdown__icon {
  fill: var(--pharos-dropdown-multiselect-color-icon-dropdown);
}

.multiselect-dropdown__button {
  @include mixins.button-hover;
  @include mixins.interactive-focus;
  @include mixins.button-base(
    $color: var(--pharos-button-color-base-secondary-text-base),
    $background-color: var(--pharos-button-color-base-secondary-background-base),
    $border-color: var(--pharos-button-color-base-secondary-border-base)
  );

  width: 100%;
  justify-content: space-between;
  font-weight: var(--pharos-font-weight-regular);

  // min-width: 432px;
}

.multiselect-dropdown__button-label {
  @include mixins.form-element-label;
}

:host([disabled]) .multiselect-dropdown__button {
  @include mixins.input-disabled;

  border-color: var(--pharos-form-element-color-border-disabled);
  pointer-events: none;

  .multiselect-dropdown__icon {
    fill: var(--pharos-form-element-color-text-disabled);
  }
}

.multiselect-dropdown__search-input {
  @include mixins.input-base;
  @include mixins.input-required;
  @include mixins.input-placeholder;

  border-right: none;
  border-radius: var(--pharos-radius-base-standard) 0 0 var(--pharos-radius-base-standard);

  &:focus {
    @include mixins.input-focus;
    @include mixins.input-padding-thick-border;
  }

  &--populated,
  &--populated:focus {
    padding-right: var(--pharos-spacing-3-x);
  }
}

.multiselect-dropdown__mark {
  background-color: var(--pharos-color-glacier-blue-80);
}

.multiselect-dropdown__option {
  position: relative;
  padding: var(--pharos-spacing-one-quarter-x) var(--pharos-spacing-1-x);
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: var(--pharos-spacing-one-quarter-x);

  &:hover,
  &[highlighted] {
    background-color: var(--pharos-color-ui-20);
    color: var(--pharos-dropdown-multiselect-color-text-hover);

    .multiselect-dropdown__option-label {
      color: var(--pharos-dropdown-multiselect-color-text-hover);
    }

    .multiselect-dropdown__mark {
      color: var(--pharos-dropdown-multiselect-color-text-hover);
    }
  }
}

.multiselect-dropdown__search-input-label {
  @include mixins.hidden;
}

.multiselect-dropdown__search-input-wrapper {
  @include mixins.input-wrapper;

  width: auto;
  padding: var(--pharos-spacing-1-x);
}

.multiselect-dropdown__search-input-wrapper--scrolling {
  box-shadow: var(--pharos-elevation-level-2);
  border-radius: var(--pharos-radius-base-standard);
}

.multiselect-dropdown__list {
  @include mixins.font-base;

  max-height: var(--pharos-dropdown-multiselect-size-height-list);
  overflow-y: scroll;
  z-index: 1;
  box-sizing: content-box;
  background-color: var(--pharos-color-ui-10);
  margin-block: 0;
  list-style-type: none;
  padding-inline-start: 0;
}

.multiselect-dropdown__mark--selected,
.multiselect-dropdown__option--selected {
  @include selected-text;

  font-weight: var(--pharos-font-weight-regular);
}

.multiselect-dropdown__option--disabled {
  color: var(--pharos-dropdown-menu-item-color-text-disabled);
  background-color: var(--pharos-dropdown-menu-item-color-background-disabled);
  cursor: default;

  &:hover {
    color: var(--pharos-dropdown-menu-item-color-text-disabled);
    background-color: var(--pharos-dropdown-menu-item-color-background-disabled);
    cursor: default;
  }
}

.visually-hidden {
  @include mixins.hidden;
}

.multiselect-dropdown__search-icon {
  border-radius: 0 var(--pharos-radius-base-standard) var(--pharos-radius-base-standard) 0;
  border: 1px solid var(--pharos-form-element-color-border-base);
  padding: var(--pharos-spacing-one-half-x);
  border-left: 0;
}

.multiselect-dropdown__input-wrapper {
  border-radius: var(--pharos-radius-base-standard);
  box-shadow: var(--pharos-elevation-level-3);
  margin-top: 2px;
}

.multiselect-dropdown__button-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: var(--pharos-spacing-one-half-x);
  padding: var(--pharos-spacing-1-x) var(--pharos-spacing-one-and-a-half-x);
  box-shadow: var(--pharos-elevation-level-2);
  border-radius: var(--pharos-radius-base-standard);
}

.multiselect-dropdown__option-checkmark-wrapper {
  @include mixins.option-wrapper;
}

.multiselect-dropdown__option-checkmark-wrapper .input__icon {
  display: block;
  cursor: pointer;
  overflow: visible;
  box-sizing: border-box;

  .box {
    stroke: var(--pharos-form-element-color-border-base);
    fill: var(--pharos-checkbox-color-background-base);
  }

  .checkmark,
  .dash,
  .focus,
  .hover {
    stroke: none;
    fill: none;
  }

  .checkmark,
  .dash,
  .focus {
    stroke-width: 2;
  }
}

.multiselect-dropdown__option-checkmark-wrapper--checked .input__icon {
  .box {
    stroke: var(--pharos-form-element-color-background-selected);
    fill: var(--pharos-form-element-color-background-selected);
  }

  .checkmark {
    stroke: var(--pharos-color-interactive-tertiary);
  }
}

.multiselect-dropdown__option-checkmark-wrapper--indeterminate .input__icon {
  .box {
    stroke: var(--pharos-form-element-color-background-selected);
    fill: var(--pharos-form-element-color-background-selected);
  }

  .dash {
    stroke: var(--pharos-color-interactive-tertiary);
  }
}
