@use '../../utils/scss/mixins';

:host {
  contain: layout;
  display: inline-flex;
}

.pagination__wrapper {
  width: 100%;
  display: inline-flex;
  gap: var(--pharos-spacing-1-x);
  align-items: center;
}

.pagination__info {
  padding: 0 var(--pharos-spacing-1-x);
}

.pagination__input-wrapper {
  display: inline-flex;
  align-items: center;
}

/* Hide number input spinner arrows */
pharos-text-input.pagination__input::part(input)::-webkit-outer-spin-button,
pharos-text-input.pagination__input::part(input)::-webkit-inner-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}

pharos-text-input.pagination__input::part(input) {
  padding: var(--pharos-spacing-one-quarter-x) var(--pharos-spacing-one-half-x);
  -moz-appearance: textfield;
  appearance: textfield;
}

.pagination__link {
  height: var(--pharos-spacing-one-and-a-half-x);
  cursor: pointer;

  pharos-icon {
    transition-property: background-color;
    transition-duration: 200ms;
    transition-timing-function: ease-in-out;

    &[name='chevron-left'] {
      margin-right: var(--pharos-spacing-one-half-x);
    }

    &[name='chevron-right'] {
      margin-left: var(--pharos-spacing-one-half-x);
    }
  }

  &:hover {
    pharos-icon {
      stroke: var(--pharos-color-interactive-primary);
      fill: var(--pharos-color-interactive-primary);
      stroke-width: 0;
    }
  }
}

.pagination__visually-hidden {
  @include mixins.hidden;
}
