@use '../../utils/scss/mixins';

:host {
  contain: layout;
  display: inline-flex;
}

.pagination__wrapper {
  width: 100%;
  display: inline-flex;
  gap: var(--pharos-spacing-1-x);
  align-items: center;
}

.pagination__info {
  padding: 0 var(--pharos-spacing-1-x);
}

.pagination__input-wrapper {
  display: inline-flex;
  align-items: center;
}

.pagination__input {
  padding: var(--pharos-spacing-one-quarter-x) var(--pharos-spacing-one-half-x);
  border: 1px solid var(--pharos-form-element-color-border-base);
  border-radius: var(--pharos-radius-base-standard);
  font: inherit;
  color: var(--pharos-form-element-color-text-base);
  background: none;
  width: auto;
  box-sizing: border-box;

  &:focus {
    @include mixins.input-focus;
  }

  &:disabled {
    @include mixins.input-disabled;
  }

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    appearance: none;
    margin: 0;
  }

  &[type='number'] {
    -moz-appearance: textfield;
    appearance: textfield;
  }
}

.pagination__link {
  height: var(--pharos-spacing-one-and-a-half-x);
  cursor: pointer;

  pharos-icon {
    transition-property: background-color;
    transition-duration: 200ms;
    transition-timing-function: ease-in-out;

    &[name='chevron-left'] {
      margin-right: var(--pharos-spacing-one-half-x);
    }

    &[name='chevron-right'] {
      margin-left: var(--pharos-spacing-one-half-x);
    }
  }

  &:hover {
    pharos-icon {
      stroke: var(--pharos-color-interactive-primary);
      fill: var(--pharos-color-interactive-primary);
      stroke-width: 0;
    }
  }
}

.pagination__visually-hidden {
  @include mixins.hidden;
}
