.token-table {
  table-layout: fixed;
  width: 100%;
  white-space: nowrap;
}

.token-table td {
  padding-bottom: var(--pharos-spacing-one-and-a-half-x);
  padding-right: var(--pharos-spacing-2-x);
  padding-top: var(--pharos-spacing-one-and-a-half-x);
  vertical-align: top;
  border-top: 1px solid var(--pharos-color-ui-30);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
