#category-element {
  padding: var(--pharos-spacing-three-quarters-x);
  text-decoration: none;
  font-weight: var(--pharos-font-weight-bold);
  display: inline-flex;
  min-width: 0;
}

#category-element:hover,
:host([is-active]) #category-element {
  color: var(--pharos-color-interactive-primary);
  background-color: var(--pharos-color-marble-gray-94);
  border-bottom: 2px solid var(--pharos-color-hover-primary);
  padding-bottom: calc(var(--pharos-spacing-three-quarters-x) - 2px);
  fill: var(--pharos-color-interactive-primary);
  text-decoration: none;
}
