@use '../../utils/scss/mixins';

[data-pharos-component='PharosFooter'] {
  ul[slot] li:not(:last-child) {
    margin-bottom: var(--pharos-spacing-three-quarters-x);
  }

  ul[slot='social-links'] {
    @include mixins.list-inline($margin-right: var(--pharos-spacing-1-x));

    [data-pharos-component='PharosIcon'] {
      fill: var(--pharos-color-white);
      transition: opacity var(--pharos-transition-duration-default) ease-in-out;

      &:hover {
        opacity: 0.7;
      }
    }
  }

  ul[slot='legal-links'] {
    @include mixins.list-inline;
  }
}
