@use '../../utils/scss/mixins';

:host {
  display: inline-flex;
  flex-direction: column;
}

.table {
  border-collapse: collapse;
}

.table-header {
  background-color: var(--pharos-table-header-color-background, var(--pharos-color-ui-20));
}

.table-header__cell {
  border: 1px solid var(--pharos-table-header-color-border, var(--pharos-color-ui-30));
  padding: var(--pharos-spacing-1-x);
}

.table-header--has-sticky-header {
  position: sticky;
  top: 0;
}

.table-header--has-active-sticky-header {
  box-shadow: var(--pharos-elevation-level-2);

  .table-header__cell {
    border: none;
    border-right: 1px solid var(--pharos-table-header-color-border, var(--pharos-color-ui-30));

    &:last-child {
      border-right: none;
    }
  }
}

.table-body__cell {
  border: 1px solid var(--pharos-table-body-color-border, var(--pharos-color-ui-30));
  padding: var(--pharos-spacing-1-x);
}

.table-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: var(--pharos-spacing-one-half-x);

  .item-per-page-wrapper {
    display: flex;
    align-items: center;
    column-gap: var(--pharos-spacing-one-half-x);

    .item-per-page-selector {
      width: 75px;
    }
  }

  .pagination {
    height: var(--pharos-spacing-one-and-a-half-x);
  }
}

.visually-hidden:not(:focus, :active) {
  @include mixins.hidden;
}
