:host {
  display: inline-flex;
  flex-direction: column;
}

.table {
  border-collapse: collapse;

  th {
    border: 1px solid var(--pharos-color-marble-gray-base);
    padding: var(--pharos-spacing-1-x);
  }

  td {
    border: 1px solid var(--pharos-color-marble-gray-base);
    padding: var(--pharos-spacing-1-x);
  }
}

.table-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: var(--pharos-spacing-one-half-x);

  .item-per-page-wrapper {
    display: flex;
    align-items: center;
    column-gap: var(--pharos-spacing-one-half-x);

    .item-per-page-selector {
      width: 75px;
    }
  }

  .pagination {
    height: var(--pharos-spacing-one-and-a-half-x);
  }
}

.visually-hidden:not(:focus, :active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
