@use '../../utils/scss/mixins';

:host {
  display: block;
}

.header__content {
  grid-area: main;
  display: grid;
  grid-template:
    'start center end-top' auto
    'start center end-bottom' auto
    / 65px minmax(auto, 650px) auto;
  column-gap: var(--pharos-spacing-1-x);
  padding: var(--pharos-spacing-one-half-x) var(--pharos-spacing-one-and-a-half-x) 0;
  border-top: 1px solid var(--pharos-color-ui-40);
  border-bottom: 1px solid var(--pharos-color-ui-40);
}

@include mixins.until(medium) {
  .header__content {
    grid-template:
      '. . end-top' auto
      'start center center' auto
      '. end-bottom end-bottom' auto
      / 65px minmax(auto, 650px) auto;
  }

  .header__content--end {
    display: none;
  }
}

.header__top {
  display: flex;
  justify-content: center;
  margin-top: var(--pharos-spacing-one-half-x);
  margin-bottom: var(--pharos-spacing-one-half-x);
}

.header__content--start {
  grid-area: start;
  align-self: end;
}

.header__content--center {
  grid-area: center;
  align-self: end;
}

.header__content--end-top {
  grid-area: end-top;
  justify-self: end;
  align-self: start;
}

.header__content--end-bottom {
  grid-area: end-bottom;
  justify-self: end;
  align-self: end;
  display: flex;
}
