:host {
  display: block;
}

.header__container {
  display: grid;
  grid-template-areas: '. main .';
  grid-template-columns: minmax(1rem, 1fr) minmax(max-content, 70rem) minmax(1rem, 1fr);
  grid-template-rows: auto;
  padding-top: var(--pharos-spacing-one-half-x);
  border-top: 1px solid var(--pharos-color-ui-40);
  border-bottom: 1px solid var(--pharos-color-ui-40);
}

.header__content {
  grid-area: main;
  max-width: 70rem;
  display: grid;
  grid-template-areas: 'start center end';
  grid-template-columns: max-content 1fr max-content;
  grid-template-rows: auto;
  column-gap: var(--pharos-spacing-1-x);
}

@media (max-width: 1024px) {
  .header__container {
    grid-template-columns: 1rem auto 1rem;
    grid-template-rows: auto;
  }

  .header__content {
    grid-template-areas: 'start center';
    grid-template-columns: max-content 8fr;
    grid-template-rows: auto;
  }

  .header__content--end {
    display: none;
  }
}

.header__top {
  display: flex;
  justify-content: center;
  margin-top: var(--pharos-spacing-one-half-x);
  margin-bottom: var(--pharos-spacing-one-half-x);
}

.header__content--start {
  grid-area: start;
  align-self: end;
}

.header__content--center {
  grid-area: center;
  align-self: end;
}

.header__content--end {
  grid-area: end;
  justify-self: end;
  align-self: center;
}
