@use '../../utils/scss/mixins';
@use '../../styles/variables';

:host {
  display: inline-block;
}

.pill {
  display: inline-flex;
  align-items: center;
  padding: 0 var(--pharos-spacing-one-half-x);
  margin: 0 var(--pharos-spacing-one-quarter-x) var(--pharos-spacing-one-quarter-x) 0;
  line-height: var(--pharos-line-height-medium);
  gap: var(--pharos-spacing-one-quarter-x);
  max-width: 100%;

  @include mixins.font-base(
    $font-family: var(--pharos-font-family-sans-serif),
    $font-size: var(--pharos-font-size-small)
  );

  text-align: center;
  text-decoration: none;
  border-radius: 24px;
  background: transparent;
  border: none;

  &:focus-visible {
    outline: 2px solid var(--pharos-color-focus);
    outline-offset: 2px;
  }
}

:host([disabled]) .pill,
:host([disabled]) .pill:hover {
  border: 1px solid var(--pharos-pill-disabled-color, var(--pharos-color-marble-gray-50));
  color: var(--pharos-pill-disabled-color, var(--pharos-color-marble-gray-50));
  fill: var(--pharos-pill-disabled-color, var(--pharos-color-marble-gray-50));
  background-color: var(--pharos-pill-disabled-background, var(--pharos-color-marble-gray-base));
  cursor: auto;
}

.pill__content {
  min-width: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.pill__close {
  display: flex;
}

.pill--small {
  @include mixins.font-base(
    $font-family: var(--pharos-font-family-sans-serif),
    $font-size: var(--pharos-font-size-micro),
    $line-height: var(--pharos-line-height-xsmall)
  );

  padding: 0 var(--pharos-spacing-one-quarter-x);
}

.pill--dismissible {
  cursor: pointer;
  min-width: 24px;
  transition: all 0.2s ease;
}

.pill--primary {
  background-color: var(--pharos-pill-color, var(--pharos-color-marble-gray-40));
  color: var(--pharos-pill-text-color, var(--pharos-color-black));
  fill: var(--pharos-pill-text-color, var(--pharos-color-black));

  &.pill--dismissible:hover {
    background-color: var(--pharos-color-marble-gray-20);
  }
}

.pill--secondary {
  border: 1px solid var(--pharos-pill-color, var(--pharos-color-marble-gray-40));
  color: var(--pharos-pill-color, var(--pharos-color-black));
  fill: var(--pharos-pill-color, var(--pharos-color-black));

  &.pill--dismissible:hover {
    background-color: var(--pharos-color-marble-gray-94);
  }
}

@for $i from 1 through 9 {
  .pill--preset-#{$i} {
    border: 1px
      solid
      var(--pharos-pill-preset-#{$i}-border-color-base, var(--pharos-color-marble-gray-40));
    color: var(--pharos-pill-preset-#{$i}-text-color-base, var(--pharos-color-black));
    fill: var(--pharos-pill-preset-#{$i}-text-color-base, var(--pharos-color-black));
    background-color: var(
      --pharos-pill-preset-#{$i}-background-color-base,
      var(--pharos-color-white)
    );

    &.pill--dismissible:hover {
      border: 1px
        solid
        var(--pharos-pill-preset-#{$i}-border-color-hover, var(--pharos-color-marble-gray-40));
      color: var(--pharos-pill-preset-#{$i}-text-color-hover, var(--pharos-color-black));
      fill: var(--pharos-pill-preset-#{$i}-text-color-hover, var(--pharos-color-black));
      background-color: var(
        --pharos-pill-preset-#{$i}-background-color-hover,
        var(--pharos-color-marble-gray-94)
      );
    }
  }
}
