@use '../../utils/scss/mixins';
@use '../../styles/variables';

:host {
  display: inline-block;
}

.pill {
  display: inline-flex;
  align-items: center;
  padding: 0 var(--pharos-spacing-one-half-x);
  margin: 0 var(--pharos-spacing-one-quarter-x) var(--pharos-spacing-one-quarter-x) 0;
  line-height: var(--pharos-line-height-medium);
  gap: var(--pharos-spacing-one-quarter-x);

  @include mixins.font-base(
    $font-family: var(--pharos-font-family-sans-serif),
    $font-size: var(--pharos-font-size-small)
  );

  text-align: center;
  text-decoration: none;
  border-radius: 24px;
  background: transparent;
  border: none;

  &:focus-visible {
    outline: 2px solid var(--pharos-color-focus);
    outline-offset: 2px;
  }
}

.pill--primary {
  background-color: var(--pharos-pill-color, var(--pharos-color-marble-gray-40));
  color: var(--pharos-pill-text-color, var(--pharos-color-black));
  fill: var(--pharos-pill-text-color, var(--pharos-color-black));

  &.pill--dismissible:hover {
    background-color: var(--pharos-color-marble-gray-20);
  }
}

.pill--secondary {
  border: 1px solid var(--pharos-pill-color, var(--pharos-color-marble-gray-40));
  color: var(--pharos-pill-color, var(--pharos-color-black));
  fill: var(--pharos-pill-color, var(--pharos-color-black));

  &.pill--dismissible:hover {
    background-color: var(--pharos-color-marble-gray-94);
  }
}

.pill--small {
  @include mixins.font-base(
    $font-family: var(--pharos-font-family-sans-serif),
    $font-size: var(--pharos-font-size-micro),
    $line-height: var(--pharos-line-height-xsmall)
  );

  padding: 0 var(--pharos-spacing-one-quarter-x);
}

.pill--dismissible {
  cursor: pointer;
  min-width: 24px;
  transition: all 0.2s ease;
}
