@use '../../utils/scss/mixins';

.input-wrapper {
  @include mixins.option-wrapper;

  align-items: center;
  column-gap: var(--pharos-spacing-1-x);
}

.switch__control {
  height: 32px;
  width: 70px;
  box-sizing: border-box;
  cursor: pointer;
  border: 1px solid;
  border-color: var(--pharos-color-marble-gray-80);
  border-radius: 2rem;
  background-color: var(--pharos-color-marble-gray-94);
  transition:
    background-color 0.3s ease-out,
    border-color 0.3s ease-out,
    box-shadow 0.3s ease-out;
  position: relative;

  &:hover {
    border-color: var(--pharos-color-marble-gray-30);
    box-shadow: 0 0 0 1px var(--pharos-color-marble-gray-30);
  }

  &::before {
    position: absolute;
    content: '';
    height: 15px;
    width: 15px;
    background-color: var(--pharos-color-marble-gray-30);
    right: calc(100% - var(--pharos-spacing-one-and-a-half-x));
    top: 50%;
    transform: translateY(-50%);
    transition: 0.3s ease-out;
    border-radius: 50%;
  }

  &::after {
    font-weight: bold;
    line-height: 0;
    text-indent: 0;
    height: 1rem;
    color: var(--pharos-color-marble-gray-30);
    content: 'OFF';
    text-align: center;
    display: block;
    position: absolute;
    left: calc(100% - 38px);
    top: 50%;
    transition: color 0.3s ease-out;
  }

  .switch__input:checked + .input-wrapper & {
    background-color: var(--pharos-color-green-97);
    border-color: var(--pharos-color-green-base);

    &:hover {
      box-shadow: 0 0 0 1px var(--pharos-color-green-base);
    }

    &::before {
      right: var(--pharos-spacing-one-half-x);
      background-color: var(--pharos-color-green-base);
    }

    &::after {
      color: var(--pharos-color-green-base);
      left: var(--pharos-spacing-one-half-x);
      content: 'ON';
    }
  }
}

.switch__label {
  cursor: pointer;
}

#switch-element {
  @include mixins.option-input;
}

#switch-element:focus-visible {
  + .input-wrapper .switch__control {
    outline: 2px solid var(--pharos-color-focus);
    outline-offset: 3px;
    border-color: var(--pharos-color-marble-gray-30);
    box-shadow: 0 0 0 1px var(--pharos-color-marble-gray-30);
  }
}

#switch-element:disabled {
  + .input-wrapper .switch__label {
    cursor: default;
  }

  + .input-wrapper .switch__control {
    cursor: default;
    background-color: var(--pharos-color-marble-gray-base);
    border-color: var(--pharos-color-marble-gray-94);

    &:hover {
      box-shadow: none;
    }

    &::before {
      background-color: var(--pharos-color-marble-gray-50);
    }

    &::after {
      color: var(--pharos-color-marble-gray-50);
    }
  }
}

#switch-element:focus-visible:checked {
  + .input-wrapper .switch__control {
    outline: 2px solid var(--pharos-color-focus);
    outline-offset: 3px;
    border-color: var(--pharos-color-green-base);
    box-shadow: 0 0 0 1px var(--pharos-color-green-base);
  }
}
