@use '../../utils/scss/mixins';

:host {
  display: block;
  position: fixed;
  z-index: 140;
  pointer-events: none;
  top: 0;
  left: 0;
}

.dropdown-menu__list {
  @include mixins.interactive-focus;

  /* stylelint-disable no-duplicate-selectors */
  & {
    background-color: var(--pharos-color-ui-10);
    position: relative;
    contain: layout;
    margin: 0;
    list-style-type: none;
    padding-left: 0;
    padding-inline-start: 0;
    border-radius: 2px;
    box-shadow: var(--pharos-elevation-level-3);
    visibility: hidden;
    pointer-events: none;
    opacity: 0;
    transform: translate3d(0, 0, 0);
    transition:
      visibility 0s var(--pharos-transition-duration-short),
      opacity var(--pharos-transition-duration-short) linear;
  }
  /* stylelint-enable no-duplicate-selectors */
}

:host([open]) .dropdown-menu__list {
  visibility: visible;
  opacity: 1;
  transition-delay: 0ms;
  pointer-events: auto;
}

:host(:not([full-width])) .dropdown-menu__list {
  min-width: var(--pharos-dropdown-menu-size-width-min);
}

:host(:not([full-width])) ::slotted([data-pharos-component='PharosDropdownMenuItem']) {
  max-width: var(--pharos-dropdown-menu-size-width-max);
}
