@use '../../utils/scss/mixins';

:host {
  display: block;
  contain: layout;
}

.dropdown-menu-item {
  display: block;
}

.dropdown-menu-item__button {
  width: 100%;
}

.dropdown-menu-item__link,
.dropdown-menu-item__button {
  @include mixins.font-base;

  padding: var(--pharos-spacing-one-half-x) var(--pharos-spacing-1-x);
  text-decoration: none;
  display: flex;
  background-color: var(--pharos-dropdown-menu-item-color-background-base);
  border: none;
  color: var(--pharos-dropdown-menu-item-color-text-base);
  cursor: pointer;
  text-align: left;
  margin: 0;

  &:focus-visible {
    outline: 2px solid var(--pharos-color-focus);
    outline-offset: -1px;
  }

  @supports not selector(:focus-visible) {
    &:focus {
      outline: 2px solid var(--pharos-color-focus);
      outline-offset: 2px;
    }
  }
}

.dropdown-menu-item--selected {
  .dropdown-menu-item__link,
  .dropdown-menu-item__button {
    font-weight: var(--pharos-font-weight-bold);
  }
}

.dropdown-menu-item--active {
  .dropdown-menu-item__link,
  .dropdown-menu-item__button {
    color: var(--pharos-dropdown-menu-item-color-text-base);
    background-color: var(--pharos-dropdown-menu-item-color-background-active);
  }
}

.dropdown-menu-item__icon {
  margin-right: var(--pharos-spacing-one-half-x);
  fill: var(--pharos-dropdown-menu-item-color-icon-base);
  stroke: var(--pharos-dropdown-menu-item-color-icon-base);
  stroke-width: 0;
}

.dropdown-menu-item__icon--selected {
  fill: var(--pharos-dropdown-menu-item-color-icon-base);
  margin-left: auto;
}

.dropdown-menu-item__text {
  margin-right: var(--pharos-spacing-one-half-x);
}

:host([disabled]) {
  pointer-events: none;
}

:host([disabled]) .dropdown-menu-item__link,
:host([disabled]) .dropdown-menu-item__button {
  color: var(--pharos-dropdown-menu-item-color-text-disabled);
  background-color: var(--pharos-dropdown-menu-item-color-background-disabled);
}

:host(:not([selected])) .dropdown-menu-item__description {
  color: var(--pharos-dropdown-menu-item-color-text-description);
}

:host([is-on-background]) .dropdown-menu-item__button,
:host([is-on-background]) .dropdown-menu-item__link {
  @include mixins.button-color(
    $color: var(--pharos-button-color-on-background-secondary-text-base),
    $background-color: var(--pharos-color-marble-gray-20),
    $border-color: var(--pharos-color-marble-gray-20)
  );
}

:host([is-on-background][disabled]) .dropdown-menu-item__link,
:host([is-on-background][disabled]) .dropdown-menu-item__button {
  @include mixins.button-color(
    $color: var(--pharos-color-ui-30),
    $background-color: var(--pharos-color-text-disabled),
    $border-color: var(--pharos-color-text-disabled)
  );
}

:host([is-on-background]) .dropdown-menu-item__link:hover,
:host([is-on-background]) .dropdown-menu-item__button:hover {
  @include mixins.button-color(
    $color: var(--pharos-button-color-on-background-secondary-text-base),
    $background-color: var(--pharos-color-marble-gray-30, #4d4d4c),
    $border-color: var(--pharos-color-marble-gray-20)
  );
}

:host([is-on-background]) .dropdown-menu-item__button--first {
  border-radius: var(--pharos-radius-base-standard) var(--pharos-radius-base-standard) 0 0;
}

:host([is-on-background]) .dropdown-menu-item__button--last {
  border-radius: 0 0 var(--pharos-radius-base-standard) var(--pharos-radius-base-standard);
}

:host(:not([is-on-background])) .dropdown-menu-item:not(.dropdown-menu-item--last) {
  border-bottom: 1px solid var(--pharos-dropdown-menu-item-color-border-base);
}

:host(:not([disabled], [is-on-background]))
  .dropdown-menu-item:hover:not(.dropdown-menu-item--active) {
  .dropdown-menu-item__link,
  .dropdown-menu-item__button {
    color: var(--pharos-dropdown-menu-item-color-text-hover);
    background-color: var(--pharos-dropdown-menu-item-color-background-hover);
  }

  .dropdown-menu-item__icon {
    fill: var(--pharos-dropdown-menu-item-color-text-hover);
    stroke: var(--pharos-dropdown-menu-item-color-text-hover);
  }

  .dropdown-menu-item__description {
    color: var(--pharos-dropdown-menu-item-color-text-hover);
  }
}
