@use '../../utils/scss/mixins';

:host {
  display: block;
  position: fixed;
  z-index: 9000;
  pointer-events: none;
  inset: 0;
  contain: layout size style;
}

.sheet__overlay {
  display: block;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  background-color: rgb(0 0 0 / 0);
  visibility: hidden;
  transition: visibility var(--pharos-transition-duration-default) ease-in-out,
    background-color var(--pharos-transition-duration-default) ease-in-out;
  overflow-y: visible;
  transition-duration: var(--pharos-transition-duration-long);
  height: 100%;
}

.sheet__dialog {
  position: relative;
  min-width: 100vw;
  max-height: 100vh;
  height: 100%;
  top: 100%;
  pointer-events: none;
  z-index: 9001;
  visibility: hidden;
  transition: visibility var(--pharos-transition-duration-long) linear
      var(--pharos-transition-duration-long),
    top var(--pharos-transition-duration-long) ease-in-out;
}

:host([open]) {
  pointer-events: auto;

  .sheet__overlay {
    background-color: rgb(0 0 0 / 0.5);
    visibility: visible;
  }

  .sheet__dialog {
    visibility: visible;
    top: 0;
    transition: visibility 0s linear 0s, top var(--pharos-transition-duration-long) ease-in-out;
  }
}

.sheet__content {
  @include mixins.font-base;

  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 50%;
  width: 100%;
  pointer-events: auto;
  overflow-y: scroll;
  background-color: var(--pharos-color-white);
  background-clip: padding-box;
  border: 1px solid var(--pharos-color-marble-gray-base);
  border-radius: var(--pharos-radius-base-standard);
  outline: 0;
  transition: height var(--pharos-transition-base);
  box-shadow: 0 1px 2px 0 rgb(18 18 18 / 0.3), 0 -4px 8px 3px rgb(18 18 18 / 0.15);

  .sheet__wrapper {
    padding: 0 var(--pharos-spacing-one-and-a-half-x);
  }

  @include mixins.until(small) {
    .sheet__wrapper {
      padding: 0 20px;
    }
  }

  .sheet__handle {
    background: var(--pharos-color-marble-gray-80);
    width: var(--pharos-spacing-three-and-a-half-x);
    height: 4px;
    border-radius: 2px;
    margin: var(--pharos-spacing-one-half-x) auto 0 auto;
    box-sizing: border-box;
    cursor: grab;
  }
}

.sheet__body {
  position: relative;
  flex: 1 1 auto;
  margin-top: 0.375rem;
}

.sheet__header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: var(--pharos-spacing-one-and-a-half-x);
}

.sheet__footer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
  padding: var(--pharos-spacing-1-x) var(--pharos-spacing-one-and-a-half-x);

  @at-root #{&}--empty {
    padding: 0 0 var(--pharos-spacing-2-x);
  }
}

@include mixins.until(small) {
  .sheet__footer {
    padding: var(--pharos-spacing-1-x) 1.25rem;
  }
}

slot[name='footer']::slotted(*) {
  margin-left: var(--pharos-spacing-1-x);
}

:host([expanded]) {
  .sheet__content {
    height: 100%;
  }
}

:host([footer-divider]) {
  .sheet__footer {
    border-top: 1px solid var(--pharos-color-marble-gray-base);
  }
}
