.icon__do {
  fill: var(--pharos-color-feedback-success);
}

.icon__dont {
  fill: var(--pharos-color-feedback-error);
}

.container__practices {
  display: grid;
  grid-template-columns: max-content 1fr;
  column-gap: var(--pharos-spacing-1-x);
  margin-bottom: var(--pharos-spacing-one-half-x);
}

.line__dont {
  border: none;
  height: 2px;
  background-color: var(--pharos-color-feedback-error);
  margin-bottom: var(--pharos-spacing-one-half-x);
}

.line__do {
  border: none;
  height: 2px;
  background-color: var(--pharos-color-feedback-success);
  margin-bottom: var(--pharos-spacing-one-half-x);
}

.text__do {
  color: var(--pharos-color-feedback-success);
  font-weight: bold;
  margin-bottom: var(--pharos-spacing-one-half-x);
}

.text__dont {
  color: var(--pharos-color-feedback-error);
  font-weight: var(--pharos-font-weight-bold);
  margin-bottom: var(--pharos-spacing-one-half-x);
}

.text__guideline {
  color: var(--pharos-color-marble-gray-20);
}

.text__guideline ul li:not(:last-child) {
  margin-bottom: var(--pharos-spacing-1-x);
}

.text__guideline ::marker {
  color: var(--pharos-color-marble-gray-20);
}
