.icon__do {
  fill: var(--pharos-color-feedback-success);
}

.icon__dont {
  fill: var(--pharos-color-feedback-error);
}

.container__practices {
  display: grid;
  grid-template-columns: max-content 1fr;
  column-gap: var(--pharos-spacing-1-x);
  margin-bottom: var(--pharos-spacing-one-half-x);
}

.line_dont {
  border: none;
  height: 2px;
  background-color: var(--pharos-color-feedback-error);
  margin-bottom: var(--pharos-spacing-one-half-x);
}

.line_do {
  border: none;
  height: 2px;
  background-color: var(--pharos-color-feedback-success);
  margin-bottom: var(--pharos-spacing-one-half-x);
}

.text_do {
  color: var(--pharos-color-feedback-success);
  font-weight: bold;
}

.text_dont {
  color: var(--pharos-color-feedback-error);
  font-weight: bold;
}

.text__guideline {
  color: var(--pharos-color-marble-gray-20);
}

div div .text__guideline ul > ::marker {
  color: var(--pharos-color-marble-gray-20);
  font-size: 10px;
}
