:host {
  display: inline-flex;
  flex-direction: column;
  contain: layout;
}

.cloak {
  --cloak-distance: 20%;
  --cloak-antidistance: calc(100% - var(--cloak-distance));

  @at-root #{&}--cloak-left {
    mask-image: linear-gradient(to right, transparent, gray var(--cloak-distance));
  }

  @at-root #{&}--cloak-right {
    mask-image: linear-gradient(to left, transparent, gray var(--cloak-distance));
  }

  @at-root #{&}--cloak-left#{&}--cloak-right {
    mask-image: linear-gradient(
      to right,
      transparent,
      gray var(--cloak-distance),
      gray var(--cloak-antidistance),
      transparent
    );
  }
}

.tab__list {
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  margin-bottom: var(--pharos-spacing-one-half-x);
  padding: var(--pharos-spacing-one-quarter-x) var(--pharos-spacing-one-quarter-x)
    var(--pharos-spacing-1-x);
}

.tab__panels {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: var(--pharos-spacing-one-quarter-x);
}

.panel-separator {
  border-bottom: 1px solid var(--pharos-color-ui-40);
  width: 100%;
  flex: 2;
}
