@use '../../utils/scss/mixins';

:host {
  display: block;
  position: fixed;
  z-index: 140;
  pointer-events: none;
  top: 0;
  left: 0;
}

.popover {
  @include mixins.interactive-focus;

  position: relative;
  margin: 0;
  box-shadow: var(--pharos-elevation-level-4);
  border-radius: var(--pharos-radius-base-standard);
  visibility: hidden;
  pointer-events: none;
  opacity: 0;
  transform: translate3d(0, 0, 0);
  transition:
    visibility 0s var(--pharos-transition-duration-short),
    opacity var(--pharos-transition-duration-short) linear;
  overflow: hidden;
}

:host([open]) .popover {
  visibility: visible;
  opacity: 1;
  transition-delay: 0ms;
  pointer-events: auto;
}

:host([is-on-background]) .popover {
  box-shadow: none;
}
