.table {
  border-collapse: collapse;
  margin-top: var(--pharos-spacing-3-x);
}

.table__row {
  border-top: 1px solid var(--pharos-color-marble-gray-base);
}

.table__cell {
  padding: var(--pharos-spacing-one-and-a-half-x) 0 var(--pharos-spacing-one-and-a-half-x) 0;
  vertical-align: top;
}

.table__header {
  padding: var(--pharos-spacing-three-quarters-x) var(--pharos-spacing-2-x)
    var(--pharos-spacing-three-quarters-x) 0;
  text-align: left;
  position: sticky;
  top: -1px;
  background: var(--pharos-color-white);
  min-width: 11rem;
  white-space: nowrap;
  box-shadow: 0 0 0 rgb(229 229 229 / 0%);
  transition: box-shadow var(--pharos-transition-duration-short) ease-in-out;
}

.stuck {
  box-shadow: 0 12px 19px rgb(229 229 229 / 40%);
}

.status__description {
  color: var(--pharos-color-text-40);
  margin-top: var(--pharos-spacing-one-half-x);
  display: inline-flex;
  font-size: var(--pharos-font-size-small);
  line-height: var(--pharos-line-height-small);
  padding-right: var(--pharos-spacing-1-x);
}
