:host {
  display: block;
  width: 17rem;
}

.side-element__container {
  display: grid;
  grid-template: '. content .' auto / var(--pharos-spacing-2-x) 1fr var(--pharos-spacing-2-x);
  width: 17rem;
}

.side-element__content {
  grid-area: content;
  margin-top: var(--pharos-spacing-3-x);
}
