@use '../../utils/scss/mixins';

:host {
  display: inline-flex;
  width: 100%;
}

.card {
  display: inline-flex;
  flex-direction: column;
  width: 100%;
}

.card__link-container {
  display: flex;
  margin-bottom: var(--pharos-spacing-1-x);
  position: relative;
}

.card__link--image {
  contain: unset;
  position: relative;
  display: block;
  height: 14rem;
  width: 100%;
}

.card__link--title {
  contain: unset;
  display: inline-flex;
  min-width: 0;
}

@mixin card-selected {
  background-color: var(--pharos-color-white);
  outline: solid 2px var(--pharos-color-interactive-secondary);
  box-sizing: border-box;
  transition: background-color var(--pharos-transition-duration-short) ease-in-out;

  slot[name='image']::slotted(*) {
    height: calc(100% - 2 * var(--pharos-spacing-three-quarters-x));
    width: calc(100% - 2 * var(--pharos-spacing-three-quarters-x));
    padding: var(--pharos-spacing-three-quarters-x);
  }
}

.card__link--image.card__link--selected {
  @include card-selected;
}

:host([disabled]) .card__link--image.card__link--selected {
  outline: solid 2px var(--pharos-color-marble-gray-50);
}

:host([disabled]) .card__link--image {
  color: var(--pharos-color-marble-gray-50);
  cursor: not-allowed;
  text-decoration: none;
  pointer-events: none;

  slot[name='image']::slotted(*) {
    opacity: 0.5;
  }
}

slot[name='image']::slotted(img) {
  height: 100%;
  width: 100%;
  object-fit: contain;
  object-position: bottom;
}

:host([disabled]) .card__link--title {
  color: var(--pharos-color-marble-gray-50);
  cursor: not-allowed;
  text-decoration: none;
  pointer-events: none;
}

:host([disabled]) .card__heading {
  color: var(--pharos-color-marble-gray-50);
}

:host([variant='promotional']) .card__link--image {
  height: unset;
}

.card__metadata {
  @include mixins.font-base(
    $font-size: var(--pharos-font-size-small),
    $line-height: var(--pharos-line-height-small)
  );

  color: var(--pharos-color-text-40);
}

.card__metadata--hover {
  @include mixins.font-base(
    $font-size: var(--pharos-font-size-small),
    $line-height: var(--pharos-line-height-small)
  );

  height: 100%;
  width: 100%;
  box-sizing: border-box;
  overflow: auto;
  color: var(--pharos-color-text-white);
  background-color: rgb(0 0 0 / 0);
  padding: var(--pharos-spacing-one-half-x);
  position: absolute;
  top: 0;
  visibility: hidden;
  pointer-events: none;
  opacity: 0;
  transform: translate3d(0, 0, 0);
  transition: visibility var(--pharos-transition-duration-default) ease-in-out,
    opacity var(--pharos-transition-duration-default) ease-in-out,
    background-color var(--pharos-transition-duration-default) ease-in-out;
}

.card__container--error {
  background-color: var(--pharos-color-marble-gray-94);
  height: 14rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  row-gap: var(--pharos-spacing-1-x);
  align-self: flex-end;

  .unavailable-text {
    max-width: 9rem;
  }
}

.card__container--error.card__container--selectable-hover {
  background-color: inherit;
  transition: background-color var(--pharos-transition-duration-short) ease-in-out;
}

.card__container--error.card__container--selected {
  background-color: var(--pharos-color-white);
  transition: background-color var(--pharos-transition-duration-short) ease-in-out;
}

.card__source-type {
  @include mixins.font-base(
    $font-size: var(--pharos-font-size-small),
    $font-weight: var(--pharos-font-weight-bold),
    $line-height: var(--pharos-line-height-small)
  );

  color: var(--pharos-color-text-40);
  text-transform: uppercase;
  margin-bottom: var(--pharos-spacing-one-quarter-x);
}

.card__title {
  display: flex;
  justify-content: space-between;
  margin-bottom: var(--pharos-spacing-one-half-x);
}

.card__link--collection {
  display: grid;
  align-self: end;
}

.card__link--collection--error {
  background-color: var(--pharos-color-marble-gray-94);
  display: flex;
  width: 100vw;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  row-gap: var(--pharos-spacing-one-half-x);
  aspect-ratio: 4/3;

  .unavailable-text {
    max-width: 9rem;
  }
}

.card__link--collection.card__link--selected {
  @include card-selected;
}

:host([disabled]) .card__link--collection.card__link--selected {
  outline: solid 2px var(--pharos-color-marble-gray-50);
}

:host([disabled]) .card__link--collection {
  color: var(--pharos-color-marble-gray-50);
  cursor: not-allowed;
  text-decoration: none;
  pointer-events: none;

  slot[name='image']::slotted(*) {
    opacity: 0.5;
  }
}

.card__title--hover {
  @include mixins.font-base($font-weight: var(--pharos-font-weight-bold));

  display: block;
  margin-bottom: var(--pharos-spacing-one-half-x);
}

:host(:not([variant='promotional'])) {
  .card__heading,
  .card__title--hover {
    @include mixins.truncate-text($lines: 2);
  }
}

.card__svg {
  display: block;
  height: 100%;
  width: 100%;
}

.card__checkbox--subtle {
  margin: -4px 0 0 -4px;
}

.card__checkbox {
  position: absolute;
  z-index: 1;
  margin-top: var(--pharos-spacing-one-quarter-x);
  margin-left: var(--pharos-spacing-one-quarter-x);
}

.card__link--image.card__link--selectable {
  background-color: var(--pharos-color-marble-gray-94);
}

.card__link--image.card__link--select-hover {
  background-color: var(--pharos-color-marble-gray-base);
  transition: background-color var(--pharos-transition-duration-short) ease-in-out;
}

:host([subtle]) .card__link--image {
  &:hover,
  &:focus-within {
    .card__metadata--hover {
      background-color: rgb(0 0 0 / 0.75);
      visibility: visible;
      opacity: 1;
      pointer-events: auto;
    }
  }
}

slot[name='metadata']::slotted(*:not(:last-child)) {
  margin-bottom: var(--pharos-spacing-one-half-x);
}

slot[name='metadata']::slotted(strong) {
  display: block;
  color: var(--pharos-color-text-base);
}

:host([variant='collection']) .card__title,
:host([variant='selectable-collection']) .card__title {
  margin-bottom: var(--pharos-spacing-1-x);
}

:host([variant='collection']) .card__metadata,
:host([variant='selectable-collection']) .card__metadata {
  color: var(--pharos-color-text-20);
}

:host([variant='promotional']) .card__metadata {
  @include mixins.font-base;
}

:host([variant='collection']) slot[name='image']::slotted(img),
:host([variant='selectable-collection']) slot[name='image']::slotted(img) {
  position: absolute;
  object-fit: cover;
  object-position: 50% 30%;
}
