name: Chromatic

on:
  push:
    paths:
      - 'packages/pharos/**'
      - '.storybook/**'
      - 'yarn.lock'
      - 'package.json'
      - '.github/workflows/chromatic.yml'
    branches-ignore:
      - main
  workflow_dispatch:
    inputs:
      pr_number:
        description: 'PR number to run Chromatic on'
        required: true
        type: string

jobs:
  chromatic:
    name: Chromatic
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo (Push)
        if: github.event_name == 'push'
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Checkout Repo (Manual Dispatch)
        if: github.event_name == 'workflow_dispatch'
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          ref: refs/pull/${{ github.event.inputs.pr_number }}/merge

      - name: Setup Node.js 22.x
        uses: actions/setup-node@v4
        with:
          node-version: 22.x
          registry-url: 'https://registry.npmjs.org'

      - name: Get yarn cache directory path
        id: yarn-cache-dir-path
        run: echo "YARN_CACHE_DIR=.yarn/cache" >> $GITHUB_OUTPUT

      - uses: actions/cache@v4
        id: yarn-cache # use this to check for `cache-hit` (`steps.yarn-cache.outputs.cache-hit != 'true'`)
        with:
          path: |
            ${{ steps.yarn-cache-dir-path.outputs.YARN_CACHE_DIR }}
            **/node_modules
          key: ${{ runner.os }}-yarn-${{ hashFiles('**/yarn.lock') }}
          restore-keys: |
            ${{ runner.os }}-yarn-

      - name: Install Dependencies
        run: yarn --check-cache --immutable

      - name: Setup Storybook
        run: yarn storybook:setup

      - name: Build Storybook
        run: yarn storybook:wc:build

      - name: Publish to Chromatic
        uses: chromaui/action@v13
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          projectToken: ${{ secrets.CHROMATIC_PROJECT_TOKEN }}
          storybookBuildDir: .storybook-static/wc
          exitZeroOnChanges: true
          exitOnceUploaded: true
