name: Verify changes

on:
  pull_request:
  push:
    branches:
      - develop

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Setup Node 14.x
        uses: actions/setup-node@v2
        with:
          node-version: 14.x
          cache: yarn

      - name: Install Dependencies
        run: yarn --prefer-offline --frozen-lockfile

      - name: Lint
        run: yarn lint

  test:
    name: Test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Setup Node 14.x
        uses: actions/setup-node@v2
        with:
          node-version: 14.x
          cache: yarn

      - name: Cache Browsers
        uses: actions/cache@v2
        id: browsers-cache # use this to check for `cache-hit` (`steps.browsers-cache.outputs.cache-hit != 'true'`)
        with:
          path: '~/.cache/ms-playwright'
          key: ${{ runner.os }}-browsers-${{ hashFiles('**/yarn.lock') }}
          restore-keys: |
            ${{ runner.os }}-browsers-

      - name: Install Browsers Dependencies
        run: npx playwright install-deps

      - name: Install Dependencies
        run: yarn --prefer-offline --frozen-lockfile

      - name: Test
        run: yarn test
